@import '../../stylesheets/_variables.scss';

.Sidebar {
  padding: 20px 25px;
  grid-area: sidebar;
  border-right: 2px solid #e8e8e8;
  overflow: auto;
  z-index: 5;
  transition: all 0.3s;

  @media screen and (max-width: 768px) {
    position: fixed;
    height: 100%;
    width: $sidebar_sm_width;
    top: 0;
    left: 0;
    background-color: #f4f7f9;
    transform: translateX(-100%);
  }
}
